<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TestBeforeResisterAdmin</servlet-name>
    <servlet-class>servlets.TestBeforeResisterAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestBeforeResisterAdmin</servlet-name>
    <url-pattern>/testbefreg</url-pattern>
  </servlet-mapping>
  
  
<session-config>
    <session-timeout>
        30
    </session-timeout>
</session-config>

<servlet>   
           <servlet-name>registerSupplier</servlet-name>
           <jsp-file>/registerSupplier.jsp</jsp-file>
           <multipart-config>
               <max-file-size>20848820</max-file-size>
               <max-request-size>418018841</max-request-size>
               <file-size-threshold>1048576</file-size-threshold>
           </multipart-config>
</servlet>
<servlet-mapping>
            <servlet-name>registerSupplier</servlet-name>
            <url-pattern>/registerSupplier</url-pattern>
</servlet-mapping>

<servlet>   
           <servlet-name>addProducts</servlet-name>
           <jsp-file>/addProducts.jsp</jsp-file>
           <multipart-config>
               <max-file-size>20848820</max-file-size>
               <max-request-size>418018841</max-request-size>
               <file-size-threshold>1048576</file-size-threshold>
           </multipart-config>
</servlet>
<servlet-mapping>
            <servlet-name>addProducts</servlet-name>
            <url-pattern>/addProducts</url-pattern>
</servlet-mapping>

  
</web-app>